.reactQuery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.reactQuery h2 {
  font-size: 1.7rem;
}

.react-query-img {
  width: 128px;
  transition: all 2s ease-in-out;
}

.react-query-img:hover {
  transform: rotate(360deg);
}
