@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background: linear-gradient(#012844, #011b2d);
  color: #ddd;
  height: 100vh;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
